.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 20px;
  margin-bottom: 10px;
  .title {
    margin: 10px;
  }
  .link-container {
    .link {
      color: black;
      padding: 5px 15px;
      text-decoration: none;
      border: 0.5px solid black;
      margin: 10px;
    }
    .link:hover {
      background-color: #f3f3f3;
      color: lightcoral;
    }
    .link:active {
      background-color: lightcoral;
      color: #f3f3f3;
    }
  }
}
