.grid-component {
  margin: 0 auto;
  .grid {
    display: block;
    color: black;
    border: 0.5px solid black;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px;
    // width: 70%;
    margin: 0 auto;
    .btn {
      border: 1px solid black;
      padding: 5px 15px;
      margin: 5px;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #f3f3f3;
      color: lightcoral;
    }
    .btn:active {
      background-color: lightcoral;
      color: #f3f3f3;
    }
  }
}
