.block-alive {
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  border: 1px solid lightcoral;
  background-color: red;
}
.block-dead {
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  border: 1px solid lightcoral;
  background-color: white;
}
