.cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .block-alive {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid lightcoral;
    background-color: lightcoral;
    margin: 1px;
  }
  .block-dead {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid lightcoral;
    background-color: white;
    margin: 1px;
  }
}
